@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --colour--001: #0a74b1;
	--colour--002: #0d6699;
	--colour--003: #1c1d21;
	--colour--004: #383f41;
	--colour--005: #aa7b41;
	--colour--006: #f6dbbd;
	--colour--007: #edd9d8;
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;
}
